@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-md);
  height: var(--layout-header-height);
}

.header__logo {
  display: flex;
  flex-direction: row;
  font-family: var(--font-heading);
  font-size: var(--font-size-xl);
  color: var(--color-text-dark);
  gap: var(--space-xs);
  align-items: flex-start;

  app-logo {
    --logo-size: 40px;
  }

  &--name {
    display: flex;
    flex-direction: column;
    line-height: 15px;
    color: var(--color-primary-orange)
  } 
}
