@use '../../../../../styles/mixins' as *;

:host {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.results__error {
    @include inline-error;
}

.results__title {
    margin-bottom: var(--space-2xs);
    font-size: var(--font-size-h4);
    color: var(--color-text-dark);
}

.results__live {
    color: var(--color-primary-orange);
}

.results__question {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
}

.results__question-title {
    font-size: var(--font-size-md);
    font-family: var(--font-body);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-snug);
    color: var(--color-text-dark);
}

.results__bars {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
}
