@use '../../../../../styles/mixins' as *;

.surveys-container {
    --grid-gap: var(--space-md);
    --row-height: 128px;
    --visible-rows: 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: var(--row-height);

    margin-top: var(--space-lg);
    padding-right: 8px;
    gap: var(--grid-gap);

    max-height: calc(
        var(--visible-rows) * var(--row-height) +
        (var(--visible-rows) - 1) * var(--grid-gap)
    );
    overflow-y: auto;
    scrollbar-gutter: stable;

    --survey-card-padding: var(--space-md);
}
