<h1>Collect Feedback, <br> Unlock Ideas</h1>  
<div id="desc">
    <p>Create and share surveys in minutes – from team events to workplace culture. Collect opinions, engage your audience, and turn feedback into action.</p>
    <app-button class="hero__new-survey" (click)="newSurvey.emit()">
        <span>New survey</span>
        <app-add-icon class="hero__new-survey-icon" />
    </app-button>

</div>  

<div class="hero__art" aria-hidden="true">
    <img class="hero__art-phone" src="/assets/hero-animation-bg.svg" alt="">
    <img class="hero__art-piece hero__art-bubble" src="/assets/hero-animation1.svg" alt="">
    <img class="hero__art-piece hero__art-question" src="/assets/hero-animation4.svg" alt="">
    <img class="hero__art-piece hero__art-check" src="/assets/hero-animation2.svg" alt="">
    <img class="hero__art-piece hero__art-star" src="/assets/hero-animation3.svg" alt="">
</div>
