@use '../../../../styles/tokens' as *;
@use '../../../../styles/mixins' as *;

:host {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-purple);
    min-height: 100dvh;
    padding-bottom: var(--space-3xl)
}

app-header,
app-hero,
app-ending-soon,
.home-page__toolbar,
app-survey-list {
    @include container;
}

.home-page__toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-sm);
    margin-block-start: var(--space-lg);
}
