@use '../../../../../styles/mixins' as *;

:host {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.survey-header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-sm);
}

.survey-header__badge {
    background-color: var(--color-survey-status-published);
}

.survey-header__close {
    @include media-up(sm) {
        display: none;
    }
}

.survey-header__meta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xs) var(--space-md);
    font-size: var(--font-size-xs);
}

.survey-header__category {
    margin-inline-start: auto;
}

.survey-header__title {
    font-size: var(--font-size-h3);
}

.survey-header__description {
    max-width: 60ch;
}
