<div class="meta__primary">
    <div class="meta__field">
        <label class="meta__label" for="survey-name">Survey name</label>
        <div class="meta__control">
            <input id="survey-name" type="text" formControlName="title" [maxlength]="maxTitle" />
            <app-icon-button label="Clear survey name" (click)="clear('title')" />
        </div>
    </div>

    <div class="meta__row">
        <div class="meta__field">
            <label class="meta__label" for="survey-end-date">Set end date <span class="meta__hint">(optional)</span></label>
            <div class="meta__control">
                <input id="survey-end-date" type="date" formControlName="endDate" />
                <app-icon-button label="Clear end date" (click)="clear('endDate')" />
            </div>
        </div>
        <app-category-select />
    </div>
</div>

<div class="meta__field">
    <label class="meta__label" for="survey-description">Describing text <span class="meta__hint">(optional)</span></label>
    <div class="meta__control meta__control--start">
        <textarea id="survey-description" formControlName="description" [maxlength]="maxDescription"></textarea>
        <app-icon-button label="Clear describing text" (click)="clear('description')" />
    </div>
</div>
